<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.lovr.app">
  <uses-feature android:glEsVersion="0x00030001" android:required="true"/>
  <application android:allowBackup="false" android:label="LÖVR">
    <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
    <activity android:name="LoadLibraries">
      <meta-data android:name="android.app.lib_name" android:value="lovr" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
