[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
[submodule "deps/msdfgen"]
	path = deps/msdfgen
	url = https://github.com/bjornbytes/msdfgen
[submodule "deps/ode"]
	path = deps/ode
	url = https://github.com/bjornbytes/ode
[submodule "deps/luajit"]
	path = deps/luajit
	url = https://github.com/WohlSoft/LuaJIT
[submodule "deps/openxr"]
	path = deps/openxr
	url = https://github.com/khronosgroup/openxr-sdk
[submodule "deps/oculus-openxr"]
	path = deps/oculus-openxr
	url = https://github.com/lovr-org/ovr_openxr_mobile_sdk
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/bjornbytes/glslang
[submodule "deps/vulkan-headers"]
	path = deps/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/pico-openxr"]
	path = deps/pico-openxr
	url = https://github.com/lovr-org/pico_openxr_sdk
