.tup
.obj
tup.config
config/*
*.ttf.h
*.json.h
*.lua.h
Activity*.java
AndroidManifest*.xml
/build.sh
/watch.sh
/debug.sh
/db
/lovr
/lovr.apk
/lovr.exe
/lovr.exp
/lovr.lib
/lovr.pdb
/lovr.ilk
/lovr.js
/lovr.worker.js
/lovr.html
/lovr.wasm
/classes.dex
build
build-*
/lib
/libs
/org
/tmp
bin
/data
/*.lua
.DS_Store
.vs
/test
deps/VrApi
deps/pico
deps/openxr
deps/OpenXR-Oculus
