## LÖVR config
# y is 'yes' and n is 'no'
# Equal signs should not have spaces around them

## Modules
# The set of enabled Lua modules.
# Disabling unneeded modules will reduce executable size and improve compile times.
CONFIG_AUDIO=y
CONFIG_DATA=y
CONFIG_EVENT=y
CONFIG_FILESYSTEM=y
CONFIG_GRAPHICS=y
CONFIG_HEADSET=y
CONFIG_MATH=y
CONFIG_PHYSICS=y
CONFIG_THREAD=y
CONFIG_TIMER=y
CONFIG_JSON=y
CONFIG_ENET=y

## Headset backends
# Enabling headset backends adds support for more types of VR SDKs and hardware.
# Some proprietary SDKs cannot be included in LÖVR, so the path to the SDK must be provided.
# The SIMULATOR backend simulates a VR HMD that can be controlled with a keyboard and mouse.
CONFIG_SIMULATOR=y
CONFIG_OPENVR=y
CONFIG_OPENXR=n
CONFIG_OCULUS=n
CONFIG_VRAPI=n
CONFIG_WEBVR=n
CONFIG_LEAP=n
CONFIG_OCULUS_PATH=
CONFIG_LEAP_PATH=

## LuaJIT
CONFIG_LUAJIT=y

## OpenGL (GL, GLES, or WEBGL)
CONFIG_GL=GL

## Compiler options
# The CC option stands for "C Compiler".  Some common compilers are clang and gcc.
# Debug builds compile faster and have debug symbols, but the executable is bigger and slower.
# Also, extra compiler flags (CFLAGS) and linker flags (LDFLAGS) can be provided.
CONFIG_CC=clang
CONFIG_DEBUG=y
CONFIG_CFLAGS=
CONFIG_LDFLAGS=

## Libraries
# Explicit compiler flags for compilation (CFLAGS) and linking (LDFLAGS) go here.
# This will improve in the future (e.g. remove libraries, add pkg-config support).
CONFIG_LUA_CFLAGS=
CONFIG_LUA_LDFLAGS=
CONFIG_GLFW_CFLAGS=
CONFIG_GLFW_LDFLAGS=
CONFIG_OPENAL_CFLAGS=
CONFIG_OPENAL_LDFLAGS=
CONFIG_PHYSFS_CFLAGS=
CONFIG_PHYSFS_LDFLAGS=
CONFIG_MSDFGEN_CFLAGS=
CONFIG_MSDFGEN_LDFLAGS=
CONFIG_ODE_CFLAGS=
CONFIG_ODE_LDFLAGS=
CONFIG_OPENVR_CFLAGS=
CONFIG_OPENVR_LDFLAGS=
CONFIG_ENET_CFLAGS=
CONFIG_ENET_LDFLAGS=
