<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.lovr.app" android:installLocation="auto" android:versionCode="1">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="26"/>
  <uses-feature android:name="android.hardware.vr.headtracking" android:required="false"/>
  <uses-feature android:name="oculus.software.handtracking" android:required="false"/>
  <!-- Oculus -->
  <uses-feature android:name="oculus.software.trackedkeyboard" android:required="false"/>
  <uses-feature android:name="com.oculus.feature.RENDER_MODEL" android:required="false"/>
  <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false"/>
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
  <uses-permission android:name="com.oculus.permission.TRACKED_KEYBOARD"/>
  <uses-permission android:name="com.oculus.permission.RENDER_MODEL"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <!-- Khronos/Generic -->
  <uses-permission android:name="org.khronos.openxr.permission.OPENXR"/>
  <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM"/>
  <queries>
    <provider android:name="org.khronos.openxr.runtime_broker" android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker"/>
  </queries>

  <application android:allowBackup="false" android:label="LÖVR" android:extractNativeLibs="false" android:debuggable="true">
    <meta-data android:name="pvr.app.type" android:value="vr"/> <!-- Pico -->
    <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2"/>
    <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0"/>
    <activity android:name="Activity" android:launchMode="singleTask" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:excludeFromRecents="true">
      <meta-data android:name="android.app.lib_name" android:value="lovr"/>
      <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="com.oculus.intent.category.VR"/>
        <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
